body { 
	color: black;
	font-size: 15px;
	text-align: justify;
	background-image: url('/static/kapusta.jpg');
}

div#board {
	-moz-border-radius: 22px;
	margin-left: 20%;
	margin-right: 20%;
	background: GreenYellow;
}

h1#logo {
	-moz-border-radius-topleft: 22px;
	-moz-border-radius-topright: 22px;
	background: black;
	color: gold;
	text-align: center;
	padding: 20px;
}


h4 {
	color: red
}

#mainboard {
	width: 500px;
	height: 300px;
	background: white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	margin-top: 10px;
}

#content {
	-moz-border-radius-bottomright: 22px;
	border-color: crimson;
	border-style: solid;
	border-width: 2px;
	padding: 20px;
}
#header {
	text-align: center;
	padding: 20px;
}
#footer {
	text-align: right;
	padding: 20px;
}

a:link, a:visited, a:active {
	color: black;
}

a:hover {
	color: gray;
}

a.eleven_fingers_link {
	color: red;
	font-weight: bold;
	font-size: 130%;
	font-family: sans-serif;
	text-decoration: none;
	font-variant: small-caps;
}
a.eleven_fingers_link:hover {
	color: white;
	background: red;
	font-weight: bold;
	font-size: 130%;
	font-family: sans-serif;
	text-decoration: blink;
	font-variant: small-caps;
}

span.klawisz_eleven_fingers {
	font-size: 200%;
	background: white;
	border-width: 1px;
	border-color: red;
	border-style: solid;
	font-variant: small-caps;
	cursor: none;
}

#eleven_fingers {
	text-align: center;
}

#textline {
	font-size: 150%;
	color: black;
	border-color: crimson;
	border-style: solid;
	border-width: 2px;
	text-align: center;
}

#fb-root {
	text-align: center;
	padding: 10px;
}
